<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
    <div class="container">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/articles">Posts</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link active" aria-current="page" href="/articles/new">New post</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <% if user_signed_in? %>

              Hello, <%= current_user.email %> <%= button_to "Sign out", destroy_user_session_path, :method => :delete %>

              <% else %>

              <%= button_to "Sign In", new_user_session_path, :method => :get %>

              <% end %>
              
            </li>
          </ul>
        </div>
      </nav>

      <div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>
      </div>

    </div>

  </body>
</html>
